<!DOCTYPE html>
<html>
    <head>
        <!-- bootstrap links-->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link type="text/css" rel="stylesheet" href="/static/styles.css" />
        <title>Build A BLOG</title>
    </head>

    <body style="margin: 0">
        <nav>
            <a href="/blog">home</a>
            &nbsp;&nbsp; | &nbsp;&nbsp;
            <a href="/blog/newpost">new post</a>
        </nav>

        <h1 style="background-color: #ddd; color: #888; margin: 0 height:50px">
            Build A BLOG
        </h1>
        {% block content %}
        {% endblock %}
    </body>

</html>
